.LoginForm {
    display: flex;
    justify-content: center;
    
}

body {
    background-color: rgb(228, 235, 241);
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}