body {
    background-color: rgb(228, 235, 241);
}

.LoginForm {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    
}

.btn {
    display: flex;
        justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 10%;

}