body {
    background-color: rgb(228, 235, 241);
}

.head {
    font-size: 80px;
    font-style:oblique;
    text-align: center;
    
    
}

.LoginForm {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    border: 1px inset firebrick;
    border-radius: 10%;
    
}

.btn {
    display: flex;
        justify-content: center;
        margin: 5%;
        
}

.btn button {
    padding: 1%;
    margin: 2%;
}

.footer {
    display: flex;
    justify-content: center;
   position: absolute;


}

.footer a {
    margin : 1%;
}